.bg-grey {
    background-color: #EEEEEE;
    height:60px;
    width: 1270px;
    margin: 0 auto 0 auto;
    line-height: normal;
    font-weight: normal;
    font-size: small;
    font-style: normal;
}

.input {
    margin-bottom: 0;
    margin-top: 3px;
}

button {
    margin-top: 5px;
    margin-right: 3px;
    border-radius: 5px;
}

.search-box {
    width: 300px;
}

.box {
    
    float: left;
    margin-top: 2px;
    margin-right: 2px;
    width: 180px;
    height: 70px;
    padding-right: 5px;
    padding-left: 85px;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
}

.box1 {
    padding-top: 10px;
    font-size: 15px;
    margin-left: 55px;
    width: 380px;
    height: 58px;
    background-color: #7EE5DA;
    font-size: medium;
}

.box2 {
    
    font-size: 13px;
    width: 160px;
    height: 68px;
    background-color: #70CCC2;
    font-size: small;
}

.box3 {
    margin-left: 0;
    margin-right: 50px;
    padding-left: 85px;
    width: 457px;
    height: 68px;
    background-color: #62B3AA;
    font-size: x-small;
}

.footer {
    margin-top: 80px;
}


