    body {
    
        list-style-position:inside;
        background-color:rgb(244, 245, 245);
        font-family: 'Segoe UI';
        font-size: smaller;
    }

    

    h1,h2,ul,ol,.center {
        text-align: center;
    }

    h2 {
        color: purple;
    }

    h1 {
        font-size: 40px;
        color: rgb(157, 41, 41);
    }
    h3 {
        color: rgb(139, 119, 5);
    }

    .small-font {
        font-size: small;
    }
